html * {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;  
  }
  
  #intro-header{
    position: absolute;
    top:37%;
    left:42%;
    text-align: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    color: #000000;
  }

  #intro-intro{
    left:45.5%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    top:45%;
    position:absolute;
    font-size: 22px;
    line-height: 5vh;
    color: #000000;
  }
  #intro-img{
    margin-left: 100px;
    height: 50%;
    margin-top: 230px;
    float: left;
    border-radius: 50%;
  }

  #record-button{
    font-family: Quicksand;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    right:800px;
    bottom: 200px;
    text-align: center;
    font-size: 25px;
    background-color: #b3edff;
    position: absolute;
    border-radius: 15%;
    text-decoration: none;
  }
  #tracker-button{
    font-family: Quicksand;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    right:450px;
    bottom: 200px;
    text-align: center;
    font-size: 25px;
    background-color: #b3edff;
    position: absolute;
    border-radius: 15%;
    text-decoration: none;
  }

  #record-img{
    left: 570px;
    height: 50%;
    top: 180px;
    position:absolute;
    border-radius: 50%;
  }
  
  #record-header{
    height: 50px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    margin-top: 100px;
    margin-left:650px;
    font-size: 25px;
    line-height: 20px;
    color: #000000;
    display: inline-block;
  }
  #recording-button {
    font-family: Quicksand;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    left:700px;
    bottom: 90px;
    text-align: center;
    font-size: 25px;
    background-color: #b3edff;
    position: absolute;
    border-radius: 15%;
    text-decoration: none;
  }
  
  #tracker-header{
    height: 50px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    margin-top: 100px;
    margin-left:650px;
    font-size: 25px;
    line-height: 20px;
    color: #000000;
    display: inline-block;
  }
  #tracker-text {
    font-family: Quicksand;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    left:700px;
    bottom: 90px;
    text-align: center;
    font-size: 25px;
    background-color: #b3edff;
    position: absolute;
    border-radius: 15%;
    text-decoration: none;
  }
  #tracker-img{
    left: 50px;
    height: 30%;
    top: 50px;
    position:absolute;
    border-radius: 40%;
  }